<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Form</title>                                  
</head>
<body>
    <form method="post" action="/leave_form">
        <table>
            <tr>
                <td>Emp ID :</td>
                <td><input type="text" name="emp_id"></td>
            </tr>
            <tr>
                <td>Emp name :</td>
                <td><input type="text" name="emp_name"></td>
            </tr>
            <tr>
                <td>Reason :</td>
                <td><input type="textarea" name="reason"></td>
            </tr>
            <tr>
                <td>From Date :</td>
                <td><input type="date" name="from_date"></td>
            </tr>
            <tr>
                <td>To Date :</td>
                <td><input type="date" name="to_date"></td>
            </tr>
    </table>

<input type="submit" name="emp_leave">

    </form>

</body>
</html>